<h1>New Banana Created:</h1>

    <p>Price: <%=  @banana.price%></p>
    <p>Color: <%=  @banana.color%></p>
    <p>Is this really a Plantain? <%=  @banana.actually_plantain%></p>

    <a href="/bananas">See all the bananas</a>